html {
    height: 100%;
    width: 100%;
  }

  .body {
    background-color: darkblue;
  }
  
  .h2 {
      width: 100%;
      display: inline-block;
  }
  .SelectOptions{
      text-align: left;
      margin-left: 20%;
  }
  .SelectSection {
      text-align: justify;
      text-align: center;
  }